
.timeline {
  background: #B91919;
  background: -moz-linear-gradient(left, #B91919 0%, #B91919 66.6%, #f6f6f6 66.6%, #f6f6f6 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #B91919), color-stop(66.6%, #B91919), color-stop(66.6%, #f6f6f6), color-stop(100%, #f6f6f6));
  background: -webkit-linear-gradient(left, #B91919 0%, #B91919 66.6%, #f6f6f6 66.6%, #f6f6f6 100%);
  background: -o-linear-gradient(left, #B91919 0%, #B91919 66.6%, #f6f6f6 66.6%, #f6f6f6 100%);
  background: -ms-linear-gradient(left, #B91919 0%, #B91919 66.6%, #f6f6f6 66.6%, #f6f6f6 100%);
  background: linear-gradient(to right, #B91919 0%, #B91919 66.6%, #f6f6f6 66.6%, #f6f6f6 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #B91919), color-stop(66.6%, #B91919), color-stop(66.6%, #f6f6f6), color-stop(100%, #f6f6f6));
}
